//****************************************************************************
// * User configuration file for nutty-grid.
// * Holds the values that allow nutty-grid to be easily configurable when
//   attempting to create a customized build.
//****************************************************************************

//------ General grid settings. ------//
$col_number: 12;        // Number of columns the grid will have.


//------ Breakpoints and responsive configuration. ------//
$base_tier: phone;            // Name of the base tier (smallest size possible)

//Grid breakpoints structured in  'tier_name : break_width' manner.
$breakpoints: ( tablet: 448px,
                laptop: 768px,
                desktop: 1280px,
);